

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    display: block;
    color: #333333;
}

body {
    color: #333333;
}